<div class="row animation">
    <div class="col-img">
    <img src="../assets/images/elements.png"class="elements">
  <img src="../assets/images/man.png" >
  </div>
  </div>
  <section class="testimonials">
    <h1>What Our Employeies Says</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  <div class="row">
  <div class="testimonial-col">
    <img src="../assets/images/user1.jpg">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in
       voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
       sunt in culpa qui officia deserunt mollit anim id est laborum</p>
       <h3>Silvana Armenulić</h3>
       <i class="fa fa-star color" *ngFor="let number of [0,1,2,3,4]"></i>
    </div>
  </div>
  <div class="testimonial-col">

    <img src="../assets/images/user2.jpg">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in
       voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
       sunt in culpa qui officia deserunt mollit anim id est laborum</p>
       <h3>Novica Zdravković</h3>

       <i class="fa fa-star color" *ngFor="let number of [0,1,2,3,4]"></i>
      </div>
  </div>
  </div>
  </section>
  <section class="cta">
    <h1>Improving Accelerating and Utilizing to Max Potential </h1>
   <a href="" class="hero-btn">CONTACT US</a>

   </section>