.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
  }
  .testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
  }
  .testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }
  .testimonial-col p {
    padding: 0;
  }
  .testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
  }
  .testimonial-col .color {
    color: #f44336;
  }
  @media (max-width: 700px) {
    .testimonial-col img {
      margin-left: 0px;
      margin-right: 15px;
    }
  }
  .cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../../../assets/images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
  }
  .cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0 10% 0 10%;
  }
  @media (max-width: 700px) {
    .cta h1 {
      font-size: 24px;
    }
    .col-img img{
        margin-left:40px;
    }
  }
  .col-img {
    flex-basis: 30%;
    margin-bottom: 30px;
    position: relative;
    margin: 30px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .col-img img{
      width: 80%;
      margin-left: 15%;
  }
  .elements {
    position: absolute;
    left: 0;
    top: 0;
    animation: move 2s linear infinite;
  }
  @keyframes move {
    0% {
      transform: translate(-15px, 0 px);
    }
    50% {
      transform: translate(0px, -15px);
    }
    100% {
      transform: translate(-15px, 0 px);
    }
  }
  .animation {
    background: linear-gradient(45deg, #a700ff, #4d19db);
    width: 80%;
    margin: auto;
    padding-top: 25px;
  }
