<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <div class="icons">
        <i class="fab fa-github-square col-red"></i>
           <i class="fab fa-linkedin col-red"></i>
        <i class="fab fa-facebook-square col-red"></i>
        <i class="fab fa-instagram-square col-red"></i>
        <i class="fab fa-twitter-square col-red"></i>

      </div>
      <p>Made with  <i class="fas fa-heart heart"></i> </p>
    </section>