<section class="facilities">
    <h1>What’s different in Global Company</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  <div class="row">
    <div class="facilities-col">
      <img src="../assets/images/worldTech.jpg">
      <h3>World Class Tech</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <div class="facilities-col">
      <img src="../assets/images/internal-coaching.webp">

      <h3>Inhouse coaches</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <div class="facilities-col">
      <img src="../assets/images/connection-practice-groups.jpg">
      <h3>Practice groups</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
  </div>
  </section>