<section class="location">
    <h1>Our Global Location</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    <div class="row">
      <div class="location-col">
        <img src="assets/images/london.png">
        <div class="layer">
          <h3>LONDON</h3>
        </div>
      </div>
      <div class="location-col">
        <img src="assets/images/newyork.png">
        <div class="layer">
          <h3>NEY YORK</h3>
        </div>
      </div>
      <div class="location-col">
        <img src="assets/images/washington.png">
        <div class="layer">
          <h3>WASHINGTON</h3>
        </div>
      </div>
    </div>
    </section>